#MFLFantasyMatchupsUpdate,
#MFLNFLMatchupsUpdate,
.navWeekCurr,
.MFLNFLLiveClock,
.MFLLiveClock {
    color: #579ae6
}
.MFLPlayerName {
    font-size:13px;
}
.MFLGameTable,
.MFLNFLGameTable {
    border-color: #333
}

.MFLGameLinks .MFLPaceScore,
.MFLGameLinks .MFLWinMarker,
.MFLGameLinks .MFLNFLWinMarker {
    color: #579ae6
}

#MFLBoxHolder td.matchupHilite, #MFLBoxHolder td.matchupHilite:hover {
    background: rgba(127, 142, 162, 0.1) none repeat scroll 0 0;
}
#MFLBoxHolder td.matchupLolite:hover {
    background: rgba(127, 142, 162, 0.2) none repeat scroll 0 0;
}


.MFLMainScoreboard {
    background: #000;
    border-color: rgba(30, 30, 30, 0.8);
        width: 100%;
}

#MFLCenterTop {
    color: #bbb;text-transform: uppercase;font-weight:400;
    background: #141414;
    background: -moz-linear-gradient(top, #141414 0%, #333333 50%, #141414 100%);
    background: -webkit-linear-gradient(top, #141414 0%, #333333 50%, #141414 100%);
    background: linear-gradient(to bottom, #141414 0%, #333333 50%, #141414 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#141414', endColorstr='#141414', GradientType=0)
}



#MFLRoadTeamName, #MFLHomeTeamName {
    background: #1a1a1a none repeat scroll 0 0 !important;
    border-color: #282828!important;
    color: #ddd;border-style:solid;
}

#MFLRoadScore span,
#MFLHomeScore span {
    border-color: #282828;
    background: #000;
    background: -moz-linear-gradient(top, #000 0%, #333 50%, #000 100%);
    background: -webkit-linear-gradient(top, #000 0%, #333 50%, #000 100%);
    background: linear-gradient(to bottom, #000 0%, #333 50%, #000 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0)
}

#MFLRoadScore span:before,
#MFLHomeScore span:before {
    background: #000
}

#MFLRoadScore span:after,
#MFLHomeScore span:after {
    background: #555
}

#MFLRoadScore span a:after,
#MFLHomeScore span a:after,
#MFLRoadScore span a:before,
#MFLHomeScore span a:before {
    border-color: #222;
    background: #555
}

#MFLRoadScore,
#MFLHomeScore {
    border-color: #333
}

#MFLRoadTeamRecord,
#MFLHomeTeamRecord {
    color: #ddd;
    border-color: #282828!important;border-style:solid;
    background: #000;
    background: -moz-linear-gradient(top, #000 0%, #333 50%, #000 100%);
    background: -webkit-linear-gradient(top, #000 0%, #333 50%, #000 100%);
    background: linear-gradient(to bottom, #000 0%, #333 50%, #000 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0)
}

#MFLRoadScore span a,
#MFLHomeScore span a {
    color: #eee;}

.MFLMainScoreboard td.MFLScoreboardTitle {
    color: #ddd;
    border-color: #282828;border-style:solid;
    background: #000;
    background: -moz-linear-gradient(top, #000 0%, #333 50%, #000 100%);
    background: -webkit-linear-gradient(top, #000 0%, #333 50%, #000 100%);
    background: linear-gradient(to bottom, #000 0%, #333 50%, #000 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0)
}

#MFLRoadPlayers,
#MFLRoadYTP,
#MFLRoadPMR,
#MFLHomePlayers,
#MFLHomeYTP,
#MFLHomePMR {
    color: #ddd;
    border-color: #282828;border-style:solid;
    background: #222;
    background: -moz-linear-gradient(top, #141414 1%, #333 50%, #141414 99%);
    background: -webkit-linear-gradient(top, #141414 1%, #333 50%, #141414 99%);
    background: linear-gradient(to bottom, #141414 1%, #333 50%, #141414 99%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#222', endColorstr='#222', GradientType=0)
}









.rowGameOver {
    background: rgba(0, 0, 0, .5)
}

.CurrentlyPlaying {
    background: rgba(218, 165, 62, .2)
}

.MFLTeamLineup td.oppRankGreatMatchup {
    background: #04B404;
    color: #000
}

.MFLScoreboardLineups td.oppRankGoodMatchup {
    background: #01DF01;
    color: #000
}

.MFLScoreboardLineups td.oppRankAvgMatchup {
    background: #FF0;
    color: #000
}

.MFLScoreboardLineups td.oppRankPoorMatchup {
    background: #FF8000;
    color: #000
}

.MFLScoreboardLineups td.oppRankBadMatchup {
    background: red;
    color: #000
}

#scoreboardTooltip:after {
    border-top-color: #555!important
}

#scoreboardTooltip.top:after {
    border-bottom-color: #555!important
}

#scoreboardTooltip table td {
    border: 1px solid #111
}

#scoreboardTooltip {
    background: #000!important
}

#MFLScoreboardContainer .report {
    background: #000!important
}

#scoreboardTooltip table {
    border-spacing: 1px!important
}

#scoreboardTooltip table td {
    border: 1px solid rgba(45, 45, 45, 0.3)
}

#scoreboardTooltip td table td {
    border: 0
}

#MFLScoreboardContainer .report {
    border-width: 2px;
    border-width: .125rem
}

.MFLMainScoreboard .nflicon, .MFLGameLinks .nflicon {
    background: rgba(50, 50, 50, 0.9) none repeat scroll 0 0;
    border: 2px solid #555;
}


#MFLBoxHolder td.matchupHilite table, #MFLBoxHolder td.matchupHilite:hover table {
    border: 1px solid rgba(42, 110, 187, 0.9);
}
